seq_anlyzer;<3,2,32,14,7000,50,DenseVectorFloat>
seq_anlyzer;<3,2,32,14,7000,50,SparseVectorFloat>
seq_anlyzer_DT_1;<3,2,32,14,300,70,SparseVectorFloat>
seq_anlyzer_DT_1;<3,2,32,14,32,70,SparseVectorFloat>
seq_anlyzer_DT_1;<3,2,16,14,16,60,SparseVectorFloat>
seq_anlyzer_DT_1;<3,2,16,14,16,50,SparseVectorFloat>
seq_anlyzer_DT_1;<3,2,32,14,32,50,SparseVectorFloat>
seq_anlyzer;<5,2,32,11,300,50,DenseVectorFloat>
seq_anlyzer;<5,2,32,11,50,70,SparseVectorFloat>